@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem; 
    line-height: 1.6;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

h1, 
h2, 
h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700; 
    line-height: 1.1;
}

h1::first-letter, 
h2::first-letter, 
h3::first-letter, 
p::first-letter {
    text-transform: capitalize;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative; 
}

.header {
    background-color: #2e323f;
    padding: 1.25em 0;
    text-align: center;
}

.hero {
    background-color: #3b4050;
    padding: 6em 0;
}

.intro {
    background-color: #f1f1f1;
    padding: 6em 0;
}

.main {
    padding: 6.5em 0;
}

.footer {
    background-color: #3b4050;
    padding: 6em 0;
}

.nav {
    visibility: hidden; /* for mobile, choose visibility over display to keep it accessible */
    position: absolute;
    height: 0; /* to completely hide the element when hidden */
    top: 0; /* this can be omitted since position: absolute default */
    left: 0; /* this can be omitted since position: absolute default */
}

.nav--visible {
    visibility: visible;
    height: auto; /* to wrap all li elements with .header background color  */
    position: relative; 
}

.nav-toggle {
    border: none; 
    background-color: #a59678;
    padding: 0; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    position: absolute; /* set toggle position in .container*/
    left: 0;
    cursor: pointer;
}

.nav-toggle:hover, 
.nav-toggle:focus {
    opacity: .75;
}

.burger {
    width: 50%;
    position: relative;
}

.burger, 
.burger::before,
.burger::after {
    display: block; 
    margin: 0 auto; 
    background: white; 
    height: 3px; /* burger line */
    border-radius: 1px; /* round the burger line corners */
}

/* create block spots for two burger lines */
.burger::before, 
.burger::after {
    content: "";
    width: 100%;
}

/* position a burger line above */
.burger::before {
    transform: translateY(-6px);
}

/* position a burger line below */ 
.burger::after {
    transform: translateY(3px);
}

.logo__link {
    height: 30px;
}

.logo__link > img {
    vertical-align: middle;
}

.nav__list--secondary {
    margin-top: 2em;
}

.nav__item {
    margin-top: .75em; 
}

.nav__link {
    font-family: 'Oswald', sans-serif; 
    font-size: 1.125rem; 
    font-weight: 700;
    text-transform: uppercase;
    color: white; 
}

.nav__link:hover, 
.hav__link:focus, 
.nav__link--button:hover, 
.nav__link--button:focus {
    opacity: .75;
}

.nav__link--button {
    padding: .25em .75em;
    background: white; 
    color: #2e323f; 
    border-radius: 50px; 
}

.hero__heading {
    font-size: 5.625rem;
    color: white;
}

.hero__text {
    color: white;
    font-size: 1.5rem;
    margin-top: 2em;
}

.hero__text p {
    margin-bottom: 2em;
}

.hero__text--button {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    font-weight: 700;
    color: white;
    background-color: #a59678;
    padding: .25em .75em; 
    border-radius: 50px;
    margin-top: 2em;
}

.hero__text--button:hover, 
.hero__text--button:focus {
    opacity: .75;
}

.intro__text {
    text-align: center;
}

.intro__text h2 {
    color: #a59678;
    font-size: 1.875rem;
}

.intro__text + .intro__text  {
    margin-top: 2em;
}

.primary h2 {
    font-size: 2.25rem;
    color: #a59678;
}

.primary p {
    font-size: 1.3125rem;
}

.primary img {
    margin: 2em 0;
}

.sidebar {
    margin-top: 4.25rem; 
}

.sidebar__text {
    background-color: #3b4050;
    color: white; 
    padding: 2.25em;
    text-align: center;
}

.sidebar__text h2 {
    font-size: 1.875rem; 
}

.sidebar__text + .sidebar__text {
    margin-top: 2em; 
}

.footer h2 {
    font-size: 2.75rem; 
    color: white;
}

.footer p, 
.footer__link {
    color: #6f737f;
    font-size: 1rem;
}

.footer__link:hover, 
.footer__link:focus {
    color: white; 
}

.footer h3 {
    font-size: 1.3125rem;
    color: #a59678;
    line-height: 1.2;
}

.footer__content {
    margin-top: 3em;
}

.footer__text ul {
    margin: 1em 0;
}

.text-dark {
    color: #a59678;
}

@media (min-width: 700px) {

    .row {
        display: flex;
        justify-content: space-between; 
    }

    .nav-toggle {
        display: none; 
    }

    .nav {
        visibility: visible;
        display: flex;
        flex-grow: 1;
        position: static; /* cancel position: absolute */
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }

    .nav__list {
        display: flex;
    }

    .nav__list--secondary {
        margin: 0;
    }

    .nav__item {
        margin: 0 0 0 2em;
    }

    .sidebar__text {
        padding: 1.5em; 
        width: 100%;  
    }

    .intro__text + .intro__text, 
    .sidebar__text + .sidebar__text {
        margin: 0 0 0 1.5em;
    }

    .footer h2 {
        text-align: center;
    }

    .footer__about {
        text-align: center;
    }

    .footer__nav {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {

    .container { 
        max-width: 1200px;
    }

    /* separate from .row for this screen size */
    .row--large{
        display: flex;
        justify-content: space-between;
    }

    .hero__heading {
        width: 50%;
        margin-right: 1em; 
    }

    .hero__text {
        width: 50%; 
        justify-self: flex-start;
        align-self: flex-end;
    }

    .sidebar {
        margin: 0;
    }

    .primary {
        width: 50%; 
    }

    .sidebar.row {
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
    }

    .sidebar__text + .sidebar__text {
        margin: 2em 0 0 0;
    }

    .footer__about {
        text-align: left;
        max-width: 50%;
    }

    .footer__nav {
        margin: 0;
    }

    .footer__text {
        margin: 0 0 0 2em;
    }
}
