@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*, 
*::before, 
*::after {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.6; 
}

h1 {
    margin: 0;
    font-family: 'Playfair Display', serif; 
    font-size: 3.75rem; 
    color: #824936;
    font-weight: 900; 
}

h2 {
    margin: 0; 
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem; 
    font-weight: 900;
    color: #f3eed9;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1128px; 
    margin: 0 auto; 
}

.row {
    display: flex; 
}

.col {
    width: 100%; 
}

.col + .col {
    margin-left: 4em; 
}

.hero {
    height: 660px; 
    background-color: #f3eed9;
    display: flex; 
    align-items: center;
}

.primary {
    padding: 4em 0;
}

.sub-one {
    padding: 4em 0;
    background-color: #222c2a;
}

.sub-two {
    padding: 4em 0;
    background-color: #824936;
}

.logo {
    margin: 0;
    color: #222c2a;
    font-size: 1.125rem;
    font-weight: 300; 
    letter-spacing: 1ch;
}

.hero__text {
    width: 70%;
    text-align: center;
    margin: 0 auto;  
}

.primary__title {
    color: #824936;
    text-align: center;
}

.primary__text {
    margin: 1.5em 0; 
}

.sub__text {
    color: white;
}
